

.bg-red {
    background-color: red;
    height: 200px;
}

.bg-blue {
    background-color: blue;
    height: 200px;
}

.bg-yellow {
    background-color: rgb(255, 208, 0);
    height: 200px;
}


.img-product{
    height : 25rem;
    background-size: cover;
}