/* Start using BEM naming convention */
/* green color :  rgb(25,135,84)*/

/* font : montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

.body{
    background-color: rgb(238,238,238);
}

.profile--button{
    background-color:#198754;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:12px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    text-align: center;
}

.profile--button:hover{
    background-color:#66944d;
    color: black;
}

.profile--button:active{
    position:relative;
	top:1px;
}

.profile--button__cancel{
    background-color:#E74C3C;
    text-shadow:0px 1px 0px rgb(199, 72, 72);
    border:1px solid #E74C3C;
}

.profile--button__cancel:hover{
    background-color:#a51707;
    color: black;
}

.profile--button--container{
    text-align: center;
    font-family: "Montserrat";
}

.profile--card{
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    /* box-shadow: 0 1px 4px 0 rgba(3, 22, 8, 0.2), 0 2px 6px 0 rgba(3, 20, 7, 0.19); */

}

.profile--container{
    font-family: 'Montserrat';
}

.profile--table{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.profile--img{
    border-radius: 100px;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-style: solid;
    border-color: rgb(25,135,84) ;
    box-shadow: 0 2px 5px 0 rgba(3, 22, 8, 0.2), 0 3px 10px 0 rgba(3, 20, 7, 0.19);
}

.profile--img:hover{
    opacity: 0.5;
}

.profile--img__upload{
    font-size: 3rem;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.profile--img--container{
    position: relative;
}

.profile--form--input,
input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.profile--form--input:focus,
input:focus{
   background-color:#51a07ba8;
}




/* Testing */

.bg-red {
    background-color: red;
    height: 200px;
}

.bg-blue {
    background-color: blue;
    height: 200px;
}

.bg-yellow {
    background-color: rgb(255, 208, 0);
    height: 200px;
}

.bg-full {
    background-color: aqua;
}

.bg-border {
    border: solid ;
}

.img-product{
    height : 25rem;
    background-size: cover;
}

