/* Start using BEM naming convention */
/* green color :  rgb(25,135,84)*/

/* font : montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
/* font : inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


.body{
    background-color: rgb(238,238,238);
}

.body--title{
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center
}


/* Cart Section */

.cart--card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    font-family: "Inter";
    /* box-shadow: 0 1px 4px 0 rgba(3, 22, 8, 0.2), 0 2px 6px 0 rgba(3, 20, 7, 0.19); */
}

.cart--product--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart--product--image{
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #2f6627;
}

.cart--product--title{
    font-weight: 700;
    color: #198754;
}

.cart--product--desc{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;    
}

.cart--product--desc__grey{
    font-weight: 600;
    color: gray;
    display: inline-block;
}

.cart--product--desc__bold{
    font-weight: 600;
}

.cart--product--price{
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px; 
}

.cart--product--price__right{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cart--product--qty{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;    
    align-items: center;
    font-size: 14px;
}

.cart--product--button{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
}


.cart--button{
        background-color:#198754;
        border-radius:28px;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:14px;
        padding:10px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        text-align: center;
}
    
.cart--button:hover{
        background-color:#66944d;
        color: black;
}
    
.cart--button:active{
        position:relative;
        top:1px;
}
    
.cart--button__cancel{
        background-color:#E74C3C;
        text-shadow:0px 1px 0px rgb(199, 72, 72);
        border:1px solid #E74C3C;
}
    
.cart--button__cancel:hover{
        background-color:#a51707;
        color: black;
}

/* Cart Section End*/

/* Market Section */


.market{
    font-family: "Inter"; 
}

.market--price{
    margin-bottom: 0px;
    font-size: 0.9rem;
}

.market--text{
    text-decoration: none;
}

.market--title{
    font-size: 1.1rem;
    font-weight: 600;
}

.market--button--view{
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.market--button--view:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
  
.market--desc{
    margin: 0px;
}

.market--search{
    padding: 5px 10px 5px 40px;
    color: rgba(0, 0, 0, 0.05);  
    border: 0px;
    height: 2rem;
    background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
    background-size: 20px;
    background-color: rgba(0, 0, 0, 0.05); 
    border-radius: 2px; 
}

 .market--search:focus{
    background-color: rgba(36, 35, 35, 0.158);
    color: black;
 }

.product--header--search{
    margin: 20px;
}

.product--header--title{
    margin: 20px;
}

/* Market Section End */

/* Profile Section */
.profile--button{
    background-color:#198754;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:12px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    text-align: center;
}

.profile--button:hover{
    background-color:#66944d;
    color: black;
}

.profile--button:active{
    position:relative;
	top:1px;
}

.profile--button__cancel{
    background-color:#E74C3C;
    text-shadow:0px 1px 0px rgb(199, 72, 72);
    border:1px solid #E74C3C;
}

.profile--button__cancel:hover{
    background-color:#a51707;
    color: black;
}

.profile--button--container{
    text-align: center;
    font-family: "Montserrat";
}

.profile--card{
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    /* box-shadow: 0 1px 4px 0 rgba(3, 22, 8, 0.2), 0 2px 6px 0 rgba(3, 20, 7, 0.19); */
}

.profile--container{
    font-family: 'Montserrat';
}

.profile--table{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.profile--img{
    border-radius: 100px;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-style: solid;
    border-color: rgb(25,135,84) ;
    box-shadow: 0 2px 5px 0 rgba(3, 22, 8, 0.2), 0 3px 10px 0 rgba(3, 20, 7, 0.19);
}

.profile--img:hover{
    opacity: 0.5;
}

.profile--img__upload{
    font-size: 3rem;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.profile--img--container{
    position: relative;
}

.profile--form--input, input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.profile--form--input:focus, input:focus{
   background-color:#51a07ba8;
}

/* Profile Section Ends */


/* Product Section */

.produk--main{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}


.produk--search--bar{
    padding: 5px 25px;
    display: flex;
    flex-wrap: nowrap;
}

.produk--search--form{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 260px;
    margin-right: 20px;
}

.produk--search--input{
    height: 20px;
    width: 100%;
    padding: 5px 10px 5px 40px;
    color: rgba(0, 0, 0, 0.05);  
    border: 0px;
    background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
    background-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}


/* Product Section Ends */


/* User Section */
.user--button{
    font-size: 30px;
}

.user--card{
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    border: 0px;
    /* box-shadow: 0 1px 4px 0 rgba(3, 22, 8, 0.2), 0 2px 6px 0 rgba(3, 20, 7, 0.19); */
}

.user--image{
    width: 100px;
}

.user--search--bar{
    background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
    background-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 10px 5px 40px;
}


/* User Section Ends */

/* Testing */

.bg-red {
    background-color: red;
    height: 200px;
}

.bg-blue {
    background-color: blue;
    height: 200px;
}

.bg-yellow {
    background-color: rgb(255, 208, 0);
    height: 200px;
}

.bg-full {
    background-color: aqua;
}

.bg-border {
    border: solid ;
}

.img-product{
    height : 25rem;
    background-size: cover;
}

